form{
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 2%;
}
.colemail{
    background-color: #cfcfcf;
    padding-top: 20px;
    margin-bottom: 30px;
}
.colbtn{
    padding-top: 30px;
}
.btnguardar{
    padding-top: 55px;
}

.primeracol{
    background-color: #ffffff;
    margin-left: 50px;
}
table{
    margin-top: 50px;
}
.thead{
    background-color: #cfcfcf;
}
