.color {
    background-color: #3480b9;
    padding-top: 40px;
    padding-bottom: 8%;
    line-height: 1.5;
    color: white;
}

h2{
    padding-top: 30px;
}
.form-signin{
    
    max-width: 330px;
    padding: 15px;
}
#email{
    margin-bottom: 10px;
}
.alert{
    margin-top: 5%;
}
/******************************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  