/* 
@import url('./styles/body.css');
@import url('./styles/top-banner.css');
@import url('./styles/navbar.css');
@import url('./styles/jumbotron.css');
@import url('./styles/card.css');
@import url("./styles/footer.css");
*/


#carouselContainer{
  width: 100%;
}

.carousel-item {
  
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  
}

.carousel-caption{
  background-color: rgba(100, 100, 100, 0.5);
  
}


form{
  margin: 50px auto;
}
